@model ApiModel
@{
    ViewData["Title"] = "Home Page";
}    

<div class="text-center">
    @if (ViewBag.LoggedIn)
    {
        <p>Hello, @ViewBag.UID</p>
        <div align="center">
            <a asp-controller="BHTeams" asp-action="Create">Create a BallHog Team</a>
        </div>
        <div class="text-center">
            @if (ViewBag.LoggedIn)
            {
                <p>Hello, @ViewBag.UID</p>
                <div align="center">
                    <a asp-controller="BHTeams" asp-action="Create">Create a BallHog Team</a>
                </div>
                <div align="center">
                    <a asp-controller="BHTeams" asp-action="Index">Manage My BallHog Team</a>
                </div>
                <div align="center">
                    <a asp-controller="Home" asp-action="LetsBall">LETS BALL!!!</a>
                </div>
            }
            else
            {
                <p>Please <a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
            }
            <br />
            <br />
        </div>