@model ApiModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>BALLHOG</p>
    <p>WHERE YOU BALL OR GET BALLED ON!!</p>
</div>

<div class="text-center">
    @if (ViewBag.LoggedIn)
    {
        <p>Hello, @ViewBag.UID</p>
        <div align="center">
            Create a BallHog Team <!--Rather than search on home screen this will be a link to player search-->
        </div>
        <div align="center">
            <a asp-controller="BHTeams" asp-action="Index">Manage My BallHog Team</a>
        </div>
        <div align="center">
            <a asp-controller="Home" asp-action="LetsBall">LETS BALL!!!</a>
        </div>
        <div align="center">
            My Record
        </div>
    }
    else
    {
        <p>Please <a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a></p>
    }
    <br />
    <br />
</div>

<form asp-controller="Home" asp-action="Index" method="post">
    <p>
        Player Search: <input type="text" name="player" />
        <input type="submit" value="Search" />
    </p>
</form>
