@model IEnumerable<BallHogs.Models.BHTeam>

@{
    ViewData["Title"] = "Index";
}

<h1>Your BHTeam</h1>
<p>Please Select a Team</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Team Name
            </th>
            <th>
                Manager Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                <!--Do something similar to the BHTeam Details s00000 the button only appears if List of team <5  --maybe change that detail below ti add player-- add players should go to PlayersOnTeam(Index) allowing search and adding players.... Maybe make a view team that only shows team ouside of detail-->
            </td>
            <td align="left">
                @using (Html.BeginForm("LetsBall", "Home", new { Team = item.BHTeamId, TeamName = item.TeamName, Players = item.Players }))
                {
                    <input class="button" type="submit" value="Select Team"/>
                }
            </td>
        </tr>
        }
    </tbody>
</table>