@{
    ViewData["Title"] = "Index";
}

<h1>Search NBA Players</h1>

<!---      attempt to make a drop down list or we can do link to list of ALL

<div>
    <form asp-controller="PlayersOnTeams" asp-action="SearchGuards" method="post">
        <p>
            Guards Search: <input type="text" name="player" />
            <input type="submit" value="Search" />
            @{
                //var list = new SelectList(Model.Data, "Position");
            }
            <select asp-items="list"></select>
        </p>
    </form>
</div>

-->
<div>
    <form asp-controller="PlayersOnTeams" asp-action="SearchGuards" method="post">
        <p>
            Guard Search: <input type="text" name="player" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<div>
    <form asp-controller="PlayersOnTeams" asp-action="SearchForwards" method="post">
        <p>
            Forward Search: <input type="text" name="player" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>

<div>
    <form asp-controller="PlayersOnTeams" asp-action="SearchCenter" method="post">
        <p>
            Center Search: <input type="text" name="player" />
            <input type="submit" value="Search" />
        </p>
    </form>
</div>


<br />
<br />

<p>Please select 5 NBA Players from the 2018 NBA season</p>

<br />
<br />
<br />
<br />

<h2>Legendary Search: SELECT ANY PLAYER ALL TIME</h2>
<p>*Must enter NBA players name and season*</p>

<div>
    <form asp-controller="PlayersOnTeams" asp-action="LegendarySearch" method="post">
        <div>
                Legend Search: 
                           <div>
                               <th>Player Name</th>
                               <input type="text" name="player" />
                           </div>
                           <div>
                               <th>Season: Year</th>
                               <input type="text" name="year" />
                           </div>
            <input type="submit" value="Search" />
        </div>
    </form>
</div>
