@{
    ViewData["Title"] = "Index";
}

<h1>Search NBA Players</h1>

<form asp-controller="PlayersOnTeams" asp-action="Index" method="post">
    <p>
        Player Search: <input type="text" name="player" />
        <input type="submit" value="Search" />
    </p>

    <br />
    <br />

    <p>Please select 5 NBA Players from the 2018 NBA season</p>
</form>
