@model ApiModel
@{
    ViewData["Title"] = "SearchResult";
}

<h1>List of Players</h1>
<table class="table">

    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td align="left">
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td align="left">
                                                                                                          
                    @using (Html.BeginForm("AddPlayer", "PlayersOnTeams", new { first_name = item.First_name, last_name = item.Last_name, position = item.Position, year = TempData["Year"], id = item.Id }))
                    {
                    <input class="button" type="submit" method="post" value="Add player to team" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
